$layout-bg-body: #f4f4f4 linear-gradient(to top, #f4f4f4, #dfdedc) no-repeat center / cover !default;
$layout-bg-header: hsl(50, 100%, 90%) !default;
$layout-bg-main: #fff !default;
$layout-bg-footer: hsl(0, 0%, 25%) !default;

@import "biovision/default";
