<div class="posts__author-preview">
  <figure class="posts__author-card">
    <div class="image"><%= simple_image_small(entity) %></div>
    <figcaption>
      <div class="name"><%= entity_link(entity) %></div>
      <div class="title"><%= entity.title %></div>
    </figcaption>
  </figure>
</div>
