<!DOCTYPE html>
<html>
<head>
  <title>Comunit local</title>
  <%= stylesheet_link_tag    "comunit/local/application", media: "all" %>
  <%= javascript_include_tag "comunit/local/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
